bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Namerd/.idea/codebuddy.xml

.codebuddy/summary.md

.codebuddy/db/lucene/segments_1

.codebuddy/db/lucene/version.txt

.codebuddy/db/lucene/write.lock

.codebuddy/db/lucene/_0.cfe

.codebuddy/db/lucene/_0.cfs

.codebuddy/db/lucene/_0.si

.codebuddy/db/lucene/_1.cfe

.codebuddy/db/lucene/_1.cfs

.codebuddy/db/lucene/_1.si

.codebuddy/db/lucene/_2_1.liv

.codebuddy/db/lucene/_2.cfe

.codebuddy/db/lucene/_2.cfs

.codebuddy/db/lucene/_2.si

.codebuddy/db/lucene/_3_1.liv

.codebuddy/db/lucene/_3.cfe

.codebuddy/db/lucene/_3.cfs

.codebuddy/db/lucene/_3.si

.codebuddy/db/lucene/segments_6

.codebuddy/db/lucene/_4.cfe

.codebuddy/db/lucene/_4.cfs

.codebuddy/db/lucene/_4.si

.codebuddy/db/lucene/_5.cfe

.codebuddy/db/lucene/_5.cfs

.codebuddy/db/lucene/_5.si

.codebuddy/db/lucene/segments_7
